@import "../../scssFiles/main.scss";

@mixin footer-value {
    display: flex;
    background-color: $primary-blue;
    color: $primary-light-blue;
    justify-content: space-between;
    padding: 20px 80px;
}

.footer{
    @include footer-value();
}

.login-footer {
    @include footer-value();
}

.link-page-footer {
    @include footer-value();
}

.footer-container {
    flex: 0.6;
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    p {
        font-size: 12px;
        width: 60%;
    }
}

.footer-items {
    flex: 0.4;
    display: flex;
    justify-content: space-between;
}

.footer-helpful-links {
    
    h4 {
        font-weight: 500;
    }

    ul {
        margin-top: 10px;
        padding-inline-start: 0;
    }

    li {
        list-style: none;
        padding: 1px;
        
        a {
        text-decoration: none;
        color: $primary-light-blue;
        font-size: 12px;

        &:hover {
            text-decoration: underline;
        }
        }

    }
}

.footer-contact-us {
    h4 {
        font-weight: 500;
        margin-bottom: 15px;
    }

    p {
        font-size: 12px;
        margin-bottom: 5px;
    }
}

@mixin footer-container {
    .footer-container {
        width: 100%;
        margin-bottom: 20px;
        h2 {
           font-size: 18px !important;
           margin-bottom: 5px;
        }

        p {
            width: 100%;
            font-size: 11px;
            margin-bottom: 5px;
        }
    }
   
    .footer-items {
        justify-content: space-around;
    }
    
    .footer-helpful-links {
        margin-right: 20px;
         
        h4 {
            font-size: 15px !important;
        }

        a {
            font-size: 11px;
        }
    }

    .footer-contact-us {
        p {
            font-size: 11px;
        }

        h4 {
            font-size: 15px !important;
        }
    }
}


@mixin positions {
    position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        padding-left: 20px;
        padding-right: 20px;
        flex-flow: column;  
}

@media (max-width: 450px) {
    
    
    .link-page-footer {
        @include positions();
        @include footer-container();
        top: 1600px;
    }
    
}

@media (min-width: 451px) and (max-width:600px) {



    .link-page-footer {
        @include positions();
        @include footer-container();
        top: 1650px;
    }
    
}


@media (min-width: 601px) and (max-width:767px) {

    

    .link-page-footer {
        @include positions();
        @include footer-container();
        top: 1730px;
    }
    
}

@media (max-width: 767px) {
    .login-footer {
        margin-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        flex-flow: column; 
        @include footer-container();  
    }

    .footer {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 0px;
        flex-flow: column;
        @include footer-container();
       
    }

    
}


@media (min-width: 768px) and (max-width: 1024px) {

    .footer, .login-footer {
        padding-left: 40px;
        padding-right: 40px;
        margin-top: 10px;
        

        .footer-container {
            justify-content: space-around;
            
            h2 {
              font-size: 20px !important; 
            }
        }

        .footer-helpful-links {
            margin-right: 20px;


            a {
                font-size: 11px;
            }
        }

        .footer-contact-us {
            p {
                font-size: 11px;
            }
        }


    }
} 

@media (min-width: 1400px) {

}